 

 <div class="container">
   <div class="row">

    <div class="col col-md-6 col-sm-12 p-5" >Talk about JKAA Registration. Provide a link to <a href="https://www.jkaaustralia.com.au/member/">The Registration page</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor venenatis mattis. Morbi molestie elit nec est pellentesque, vitae sagittis neque congue. Nunc tempus odio dapibus, congue orci sed, varius felis. Pellentesque non turpis sit amet sem condimentum consequat vel in magna. Sed ut urna non ante rutrum cursus non at felis. Integer facilisis accumsan nulla vitae aliquet. Etiam mattis ullamcorper lacinia. Etiam consectetur aliquet sodales. Cras eget molestie sapien.</div>
    <div class="col col-md-6 col-sm-12 p-5" ><form [formGroup]="formdata" class="form-group text-center border border-light" (ngSubmit)="onSubmit($event)">

      <p class="h4 mb-4">Contact us</p>
        <input type="text" id="defaultContactFormName" class="form-control required mb-4 " name="name" formControlName="name" placeholder="Name" required minlength="1">  
      
        <input type="email"  id="defaultContactFormEmail" class="form-control mb-4" name="email" formControlName="email" placeholder="E-mail" required email>
        <input type="phone"  id="defaultContactFormPhone" class="form-control mb-4" name="phone" formControlName="phone" placeholder="Phone Number" required minlength="1">
       
        <div class="form-group">
          <textarea class="form-control mb-4" id="exampleFormControlTextarea2" rows="3" name="message" formControlName="message" placeholder="Message" required minlength="1"></textarea>
        </div>    
      
        <button class="btn btn-primary" type="submit" [disabled]="!formdata.valid">Send Message </button>
      <button class="btn btn-secondary" type="reset">Reset</button>
    
  </form> </div>
   </div>

 </div>

