<iframe class="map-schedule" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.2992735861067!2d144.9853711149228!3d-37.75958033871721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64499462a6303%3A0xe79097858e93846f!2s99%20Leinster%20Grove%2C%20Thornbury%20VIC%203071!5e0!3m2!1sen!2sau!4v1604040008811!5m2!1sen!2sau" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
 <div class="p-5"> 
<h1>Join us</h1>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor venenatis mattis. Morbi molestie elit nec est pellentesque, vitae sagittis neque congue. Nunc tempus odio dapibus, congue orci sed, varius felis. Pellentesque non turpis sit amet sem condimentum consequat vel in magna. Sed ut urna non ante rutrum cursus non at felis. Integer facilisis accumsan nulla vitae aliquet. Etiam mattis ullamcorper lacinia. Etiam consectetur aliquet sodales. Cras eget molestie sapien.
</div>
<div class="days-schedule container pb-5">
    <div class="row">
 
        <div class="col col-12 col-md-5  p-3 m-1 " >
         <h3>Tuesday</h3>
        <div> 7:00pm - 8:30pm</div>  
        <div>Leinster Grove Community Hall</div> 
        <div>99 Leinster Grove, Thornbury VIC 3071</div>
    </div>

    <div class="col col-12 col-md-5 p-3 m-1" >
        <h3>Saturday</h3> <div> 10:00am - 11:30am</div>  
        <div>Leinster Grove Community Hall</div> 
        <div>99 Leinster Grove, Thornbury VIC 3071</div>
    </div>  
</div>