 
<img src="assets/images/instructors.jpg" class="img-fluid  "> 

<div class="p-5">
    <h1>Welcome to the JKA Melbourne-Thornbury branch</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor venenatis mattis. Morbi molestie elit nec est pellentesque, vitae sagittis neque congue. Nunc tempus odio dapibus, congue orci sed, varius felis. Pellentesque non turpis sit amet sem condimentum consequat vel in magna. Sed ut urna non ante rutrum cursus non at felis. Integer facilisis accumsan nulla vitae aliquet. Etiam mattis ullamcorper lacinia. Etiam consectetur aliquet sodales. Cras eget molestie sapien.</p>
    <p>Etiam quam erat, elementum id magna pretium, euismod fringilla ipsum. Integer ac sapien et lorem viverra hendrerit. Phasellus tempor elementum vulputate. Aenean lacinia justo id sapien facilisis molestie. Integer dictum urna vel rutrum tincidunt. Etiam dapibus ex in tellus tristique congue sed non ligula. Sed et maximus enim. Duis ornare diam vel urna placerat egestas. Praesent quam dui, faucibus vitae rhoncus et, eleifend quis mi. Integer a mi vulputate, interdum mauris vitae, auctor nisi. Vivamus a bibendum metus, vitae tempus leo. Suspendisse vehicula id eros vel tempus. Nunc lobortis aliquet mauris, ac lacinia metus tempus ac. Etiam commodo tellus ante, et aliquam libero elementum eu.</p> 

    
 <div class="benefits">
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-heart"></i></h5>
          <h6 class="card-subtitle mb-2 text-muted">Character Development</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
        </div>
      </div>
    
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title"> <i class="bi bi-bicycle"></i>  </h5>
          <h6 class="card-subtitle mb-2 text-muted">Health and Fitness</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-lightning"></i></h5>
          <h6 class="card-subtitle mb-2 text-muted">Self-Defence</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
        </div>
</div>

      <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-globe"></i></h5>
          <h6 class="card-subtitle mb-2 text-muted">Internationally Recognised</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
        </div> 
    </div> 
</div>

